@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.tiptap {
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  color: #2c3e50;
  line-height: 2em;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  border: 4px solid #000000;
  border-radius: 12px;
  box-shadow: inset 0 0 0 2px #000000;
  background-color: #ffffff;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 100px;

  >* {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    color: #2c3e50;
    line-height: 2em;
    -webkit-text-orientation: upright;
    text-orientation: upright;
  }

  ul {
    list-style-type: disc;
    /* 通常の点（円盤）スタイルを追加 */
    padding: 0 1rem;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  /* タイトル */
  h1 {
    font-size: 1.8rem;
    /* h1 のフォントサイズを調整 */
    font-weight: bold;
    padding-top: 5rem;
  }

  h2 {
    font-size: 1.3rem;
    /* h2 のフォントサイズを調整 */
    font-weight: bold;
    padding-top: 2rem;
    /* 太字のフォント */
  }

  /* */
  h3 {
    font-size: 1rem;
    /* h3 のフォントサイズを調整 */
    font-weight: bold;
    /* 太字のフォント */
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h4 {
    font-size: 0.8rem;
    /* h4 のフォントサイズを調整 */
    padding-bottom: 5rem;
    text-align: right;
    font-weight: bold;
    /* 太字のフォント */
  }

  h5 {
    font-size: 1.1rem;
    /* h5 のフォントサイズを調整 */
    font-weight: bold;
    /* 太字のフォント */
  }

  /* 作者*/
  h6 {
    text-align: right;
    font-size: 1rem;
    /* h6 のフォントサイズを調整 */
    padding-bottom: 5rem;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

/* 基本的なボタンスタイル */
.btn {
  @apply bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300;
}

/* アクティブなボタンのスタイル */
.btn-active {
  @apply bg-blue-700;
}

.ProseMirror a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.tiptap p.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: attr(data-placeholder);
  pointer-events: none;
}

.tiptap h1.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "タイトル";
  pointer-events: none;
}

.tiptap h2.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "第一章";
  pointer-events: none;
}

p.speaker.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "話者";
  /* ここに必要なテキストを設定 */
  pointer-events: none;
}

p.speechContent.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "セリフ";
  /* ここに必要なテキストを設定 */
  pointer-events: none;
}

p.characterName.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "人物名";
  /* ここに必要なテキストを設定 */
  pointer-events: none;
}


p.characterDetail.is-empty::before {
  writing-mode: vertical-rl;
  color: #adb5bd;
  content: "人物詳細";
  /* ここに必要なテキストを設定 */
  pointer-events: none;
}



.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px #68cef8;
}

li.has-focus {
  border-radius: 3px;
  border: none;
  box-shadow: none;
}


li>p.has-focus {
  border-radius: 3px;
  border: dashed;
  box-shadow: none;
}

.serif {
  display: flex;
}

.speechContent {
  height: 75%;
  padding-top: 5%;
}

.serif.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px #68cef8;
  border: none;
}

.speaker.has-focus {
  border-radius: 3px;
  box-shadow: none;
  border: dashed;
}

.speechContent.has-focus {
  border-radius: 3px;
  box-shadow: none;
  border: dashed;
}


.speaker {
  height: 25%;
  padding-top: 5%;
}

.characterItem {
  display: flex;
}

.characterDetail {
  height: 75%;
  padding-top: 5%;
}

.characterName {
  height: 25%;
  padding-top: 1%;
}

.characters {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.9rem;
}

.characterDetail.has-focus {
  border-radius: 3px;
  box-shadow: none;
  border: dashed;
}

.characterName.has-focus {
  border-radius: 3px;
  box-shadow: none;
  border: dashed;
}

.characterItem.has-focus {
  box-shadow: none;
}

h5.has-focus {
  border-radius: 3px;
  box-shadow: none;
  border: dashed;
}